<html>

<head>
	<title>Edit Manufacturer</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <div style="padding:10;">
        <table class="table table-striped"> 
            <caption> Editing Manufacturer: </caption>
            <!-- Access data tuple passed from app.py -->
            {% if data %}
                <thead>
                    <tr>
                        <!-- Iterate through each key in the first entry to get the column name -->
                        {% for key in data[0].keys() %}

                        <!-- Create a <th> tag with the key inside of it, this will be our header row -->
                        <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
                        
                        <!-- End of this for loop -->
                        {% endfor %} 
                    </tr>

                <tbody>
                    <!-- Now, iterate through every item in data -->
                    {% for item in data %}
                    <tr>
                        <!-- Then iterate through every key in the current item dictionary -->
                        {% for key in item.keys() %}
                        
                        <!-- Create a <td> element with the value of that key in it -->
                        <td>{{item[key]}}</td> {% endfor %} 
                    </tr> 
                    {% endfor %} 
            {% endif %} 
        </table>

        <div id="edit">
            <!-- form to edit data in bsg_people-->
            <form id="editManufacturer" action="/edit_manufacturer/{{data[0].manufacturer_id}}" method="post">
                <legend><strong>Edit Manufacturer</strong></legend>
                <fieldset>
                    <!-- We can preset form inputs to match attributes currently stored for 'id' of person to be updated via value= and accessing our passed data tuple -->
                    <!-- Create hidden form input to store the passed 'id' of the person we are editing so we can access it easily in our 'POST' method in our app.py -->
                    <input type="hidden" value="{{data[0].manufacturer_id}}" class="form-control" id="manufacturer_id" name="manufacturer_id" required>
                    <label for="manufacturer_name">manufacturer_name</label>

                    <input type="text" value="{{data[0].manufacturer_name}}" class="form-control" id="manufacturer_name" name="manufacturer_name" required>
                
                </fieldset>
                <input type="submit" value="Edit Manufacturer" name="Edit_Manufacturer" class="btn btn-primary" style="margin:.5rem;">
                <a href='/manufacturers'><input class="btn" type="button" value="cancel"></a>
            </form>

</html>
